*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Remove increase and decrease arrow-buttons from input:number ---- */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* ---------------------------------------------------------- */

body {
  color: var(--primary);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}

a:visited {
  color: inherit;
}

button {
  border: none;
  background-color: transparent;
  font: inherit;
  outline: none;
  /* inherit font & color from ancestor */
  color: inherit;
  cursor: pointer;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

ul {
  list-style: none;
}