.square {
    align-items: center;
    border: 1px solid #ccc;
    display: inline-flex;
    font-size: 12px;
    height: 80px; width: 80px;
    justify-content: center;
    padding: 5px;
}

.square:hover {
    background-color: #eee;
}