.app__form {
    align-items: center;
    display: flex;
    font-weight: 600;
    flex-direction: column;
    padding: 10px;
}

.app__form__input {
    display: inline-block;
    width: 200px;
    height: 50px;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
}

.app__form__btn {
    display: block;
    background-color: rgb(51, 51, 51);
    color: #fff;
    margin-top: 10px;
    width: 200px;
    padding: 10px;
}