.square {
    background-color: white;
    align-items: center;
    border: 1px solid #ccc;
    cursor: pointer;
    display: inline-flex;
    font-size: 12px;
    height: 80px; width: 80px;
    justify-content: center;
    padding: 5px;
}

.square--selected {
    background-color: rgb(173, 5, 5) !important;
    pointer-events: none;
    color: #fff;
    text-decoration: line-through;
}

.square--opponent {
    background-color: #777;
    color: #fff;
    pointer-events: none;
    text-decoration: line-through;
}

@media (max-width: 450px), (max-height: 550px) {
    .square {
        width: 60px;
        height: 60px;
        font-size: 10px;
    }
}